.avatar {
    width: 24px; /* sau dimensiunea dorită */
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user .avatar {
    order: 2; /* Schimbă ordinea avatarului utilizatorului și mesajului */
}

.user {
    justify-content: flex-end;
}